body {
	background: #343a40;
}

a, a:visited {
	color: #7553A8;
}

a:hover, a:focus, a:active {
	color: #000;
}

.main-container {
	background: #F6F8FA;
	padding-top: 1px;
	padding-bottom: 50px;
}

.tpl-article .main-container {
	padding-top: 50px;
}

.tpl-actualites .main-container {
	padding-top: 20px;
}

.hidden {
	display: none;
}

.main-header {
	background: #fff;
	padding: 20px;
}

.main-nav, a.btn-primary {
	background-color: #7553A8;
	border: none;
	color: #fff;
}

.main-nav {
	padding: 0;
}

.main-nav .nav-item {
	padding: 10px 10px 5px 10px;
	border-bottom: 5px solid transparent;
	-webkit-transition : border 200ms ease-out;
  -moz-transition : border 200ms ease-out;
  -o-transition : border 200ms ease-out;
  transition : border 200ms ease-out;
}

.main-nav:not(:hover) .nav-item.active {
	border-bottom-color: #F5BC00;
}

.main-nav .nav-item:hover, .main-nav .nav-item:focus {
	border-bottom-color: #F5BC00;
}

.main-nav a {
	color: #fff;
	font-size: 1.2em;
}

a.btn-primary:hover, a.btn-primary:focus {
	background-color: #563D7C; 
}

.btn-lg {
	padding: .5rem 1rem .6rem;
}

.btn-outline-primary {
	color: #563D7C;
	border-color: #563D7C;
}

.logo {
	display: block;
}

.section-h {
	text-align: center;
	margin: 30px auto 50px;
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
}

.jumbotron-h {
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
}

.jumbotron {
	background: #fff;
}

.list-img-container {
	width: 100%;
	max-width: 100px;
	position: relative;
}

.list-img-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1)
}

.list-img {
	width: 100%;
	border-radius: 50%;
}

.list-text {
	margin-left: 20px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
	background: none;
	border-color: transparent;
}

.presentation-more {
	font-size: 1.3rem;
}

a.presentation-link {
	color: #000;
	text-decoration: none;
}

a.presentation-link:hover, a.presentation-link:focus {
	color: #7553A8;
}

section {
	padding: 40px 0;
}

.tpl-home .revues, .tpl-catalogue .main-container {
	background: #ECEEF0;
	background: url(../images/bgrevues.png);
	border: 1px solid #eee;
}

.revues-container {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.revues-container.loading {
	opacity: 0;
}

.revue {
	margin-bottom: 30px;
}

.card {
	height: 100%;
}

.actus-grid {
	margin-top: 30px;
}

.actus-grid img {
	margin-bottom: 20px;
}

.main-footer {
	color: #fff;
	border-top: 8px solid #7553A8;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-footer a, .main-footer a:visited {
	color: #F5BC00;
}

.main-footer a:hover, .main-footer a:focus {
	color: #fff;
}

.main-footer .row > div {
	border-left: 5px solid #7553A8;
}

.footer-links, .footer-links .nav-link, .footer-links .nav-item {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-section-title {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.logos-img {
	max-width: 200px;
	max-height: 200px;
	opacity: .9;
}

.logos-img:hover, .logos-img:focus {
	opacity: 1;
}

/* Styles article */
.titre {
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.soustitre {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.texte-container {
	font-size: 1.15rem;
}

.texte-container h1 {
	margin: 2rem 0 1rem;
	font-size: 2rem;
}

.texte-container h2 {
	margin: 1.6rem 0 1rem;
	font-size: 1.6rem;
}

.texte-container h3 {
	margin: 1.2rem 0 1rem;
	font-size: 1.2rem;
}

.epigraphe, .citation, .citationbis, .citationter {
	margin-left: 5rem;
}

.texte-container img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

img.texte-vignette {
	width: 100%;
	max-width: 100%;
	margin: 20px auto;
}

@media (min-width: 768px) { 
	img.texte-vignette {
		max-width: 300px;
		margin: 0 0 20px 20px;
		float: right
	}
}

@media (min-width: 992px) { 
	img.texte-vignette {
		max-width: 400px;
		margin-right: -100px;
	}
}

.date {
	font-size: 1rem;
	color: #333;
	margin-bottom: 10px;
}

.titreillustration {
	font-weight: bold;
	text-align: center
}

.legendeillustration, .creditillustration {
	color: #666;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1rem;
}

.retour {
	display: block;
	margin-top: 2rem;
}

.filter-reset {
	white-space: nowrap;
}