body {
	background: #343a40;
}

.main-container {
	background: #F6F8FA;
	padding-bottom: 50px;
}

.hidden {
	display: none;
}

.main-header {
	background: #fff;
	padding: 20px;
}

.main-nav, .btn-primary {
	background-color: #7553A8;
	border-color: #563D7C; 
	border: none;
}

.btn-outline-primary {
	color: #563D7C;
	border-color: #563D7C;
}

.main-nav a {
	color: #eee;
	font-size: 1.1em;
	margin-left: 20px;
}

.logo {
	display: block;
}

.section-h {
	text-align: center;
	margin: 30px auto 50px;
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
}

.jumbotron-h {
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
}

.jumbotron {
	background: #fff;
}

.list-img-container {
	width: 100%;
	max-width: 100px;
	position: relative;
}

.list-img-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1)
}

.list-img {
	width: 100%;
	border-radius: 50%;
}

.list-text {
	margin-left: 20px;
}

section {
	padding: 40px 0;
}

.tpl-home .revues, .tpl-catalogue .main-container {
	background: #ECEEF0;
	background: url(../images/bgrevues.png);
	border: 1px solid #eee;
}

.revues-container {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.revues-container.loading {
	opacity: 0;
}

.card {
	height: 100%;
}

.other-actus {
	margin-top: 30px;
}

.other-actus img {
	margin-bottom: 20px;
}

.main-footer {
	border-top: 8px solid #7553A8;
	padding-top: 50px;
	padding-bottom: 50px;
}

.logos-img {
	max-width: 200px;
	max-height: 200px;
}