body {
	background: #343a40;
}

.main-container {
	background: #F6F8FA;
	padding-bottom: 50px;
}

.hidden {
	display: none;
}

.main-header {
	background: #fff;
	padding: 20px;
}

.main-nav, .btn-primary {
	background-color: #7553A8;
	border-color: #563D7C; 
	border: none;
}

.btn-outline-primary {
	color: #563D7C;
	border-color: #563D7C;
}

.main-nav a {
	color: #eee;
	font-size: 1.1em;
	margin-left: 20px;
}

.logo {
	display: block;
}

.section-h {
	text-align: center;
	margin: 30px auto 50px;
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
}

.jumbotron-h {
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
}

.jumbotron {
	background: #fff;
}

.list-img-container {
	width: 100%;
	max-width: 100px;
	position: relative;
}

.list-img-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1)
}

.list-img {
	width: 100%;
	border-radius: 50%;
}

.list-text {
	margin-left: 20px;
}

section {
	padding: 40px 0;
}

.tpl-home .revues, .tpl-catalogue .main-container {
	background: #ECEEF0;
	background: url(../images/bgrevues.png);
	border: 1px solid #eee;
}

.revues-container {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.revues-container.loading {
	opacity: 0;
}

.card {
	height: 100%;
}

.other-actus {
	margin-top: 30px;
}

.other-actus img {
	margin-bottom: 20px;
}

.main-footer {
	border-top: 8px solid #7553A8;
	padding-top: 50px;
	padding-bottom: 50px;
}

.logos-img {
	max-width: 200px;
	max-height: 200px;
}

/* Styles article */
.titre {
	font-size: 42px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.soustitre {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.texte-container {
	font-size: 1.15rem;
}

.texte-container h1 {
	margin: 2rem 0 1rem;
	font-size: 2rem;
}

.texte-container h2 {
	margin: 1.6rem 0 1rem;
	font-size: 1.6rem;
}

.texte-container h3 {
	margin: 1.2rem 0 1rem;
	font-size: 1.2rem;
}

.epigraphe, .citation, .citationbis, .citationter {
	margin-left: 5rem;
}

.texte-container img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.tpl-article .main-container {
	padding-top: 50px;
}

img.texte-vignette {
	width: 100%;
	max-width: 100%;
	margin: 20px auto;
}

@media (min-width: 768px) { 
	img.texte-vignette {
		max-width: 300px;
		margin: 0 0 20px 20px;
		float: right
	}
}

@media (min-width: 992px) { 
	img.texte-vignette {
		max-width: 400px;
		margin-right: -100px;
	}
}

.date {
	font-size: 1rem;
	color: #333;
	margin-bottom: 10px;
}

.titreillustration {
	font-weight: bold;
	text-align: center
}

.legendeillustration, .creditillustration {
	color: #666;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1rem;
}

.retour {
	display: block;
	margin-top: 2rem;
}