/* 
	============
	CSS Prairial 
	============
*/

/* Styles génériques */

body {
	background: #343a40;
}

a, a:visited {
	color: #7553A8;
}

a:hover, a:focus, a:active {
	color: #000;
}

section {
	padding: 40px 0;
}

.hidden {
	display: none;
}

a.btn-primary:hover, a.btn-primary:focus, a.btn-primary:active {
	background-color: #563D7C !important; 
	border-color: #977CBE !important;
	outline: none !important;
}

a.btn-primary:active, a.btn-primary:focus {
	box-shadow: 0 0 0 4px #CCBFDF !important;
}

.btn-lg {
	padding: .5rem 1rem .6rem;
}

.btn-outline-primary {
	color: #563D7C;
	border-color: #563D7C;
}

.section-h {
	text-align: center;
	margin: 30px auto 50px;
	font-size: 2.6rem;
	font-weight: 300;
	line-height: 1.2;
}

.section-h-small {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.2;
	color: #343a40;
	margin-bottom: 20px;
}

.retour {
	display: block;
	margin-top: 2rem;
}

/* Structure (et variantes) */

.main-container {
	background: #F6F8FA;
	padding-top: 1px;
	padding-bottom: 50px;
}

.tpl-article .main-container {
	padding-top: 50px;
}

.tpl-actualites .main-container {
	padding-top: 20px;
}

.tpl-home .revues, .tpl-catalogue .main-container {
	background: #ECEEF0;
	background: url(../images/bgrevues.png);
	border: 1px solid #eee;
}

/* Header principal */

.main-header {
	background: rgb(246,248,250);
	background: -moz-linear-gradient(0deg, rgba(246,248,250,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(246,248,250,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(0deg, rgba(246,248,250,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f8fa",endColorstr="#ffffff",GradientType=1);
	padding: 20px;
}

.logo {
	display: block;
	max-width: 100%;
	max-height: 100px;
	margin: 20px 0;
	opacity: 1;
}

.logo:hover, .logo:focus {
	opacity: .9;
}

/* Navigation principale */

.main-nav, a.btn-primary {
	background-color: #7553A8;
	border: none;
	color: #fff;
}

.main-nav {
	padding: 0;
}

.main-nav .navbar-collapse {
	padding: 0 5px 20px 10px;
}

.main-nav a {
	color: #fff;
	font-size: 1.1rem;
}

.main-nav .nav-item {
	padding: 5px;
}

.main-nav:not(:hover) .nav-item.active {
	border-bottom-color: #F5BC00;
}

.main-nav .nav-item:hover, .main-nav .nav-item:focus {
	border-bottom-color: #F5BC00;
}

.main-nav .navbar-toggler {
	margin: 0 0 0 auto;
	padding: 10px;
}

.main-nav .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 992px) { 
	.main-nav .navbar-collapse {
		padding: 0;
	}

	.main-nav a {
		font-size: 1.2rem;
	}

	.main-nav .nav-item {
		padding: 10px 10px 5px 10px;
		border-bottom: 5px solid transparent;
		-webkit-transition : border 200ms ease-out;
		-moz-transition : border 200ms ease-out;
		-o-transition : border 200ms ease-out;
		transition : border 200ms ease-out;
	}
}

/* Footer principal */

.main-footer {
	color: #fff;
	border-top: 8px solid #7553A8;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-footer-contents > div {
	margin-bottom: 30px;
}

.main-footer a, .main-footer a:visited {
	color: #F5BC00;
}

.main-footer a:hover, .main-footer a:focus {
	color: #fff;
}

.footer-col {
	border-left: 5px solid #7553A8;
}

.footer-links, .footer-links .nav-link, .footer-links .nav-item {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-section-title {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.logos-img {
	width: 100%;
	max-width: 200px;
	opacity: .9;
	margin-bottom: 20px;
}

.logos-img:hover, .logos-img:focus {
	opacity: 1;
}

/* Billet de presentation */

.jumbotron-h {
	font-size: 2.6rem;
	font-weight: 300;
	line-height: 1.2;
}

.jumbotron {
	background: #fff;
}

.list-img-container {
	width: 100%;
	max-width: 100px;
	position: relative;
}

.list-img-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1)
}

.list-img {
	width: 100%;
	border-radius: 50%;
}

.list-text {
	margin-left: 20px;
}

.list-group-item-action:focus, .list-group-item-action:hover {
	background: none;
	border-color: transparent;
}

.presentation-more {
	font-size: 1.3rem;
}

a.presentation-link {
	color: #000;
	text-decoration: none;
}

a.presentation-link:hover, a.presentation-link:focus {
	color: #7553A8;
}

/* Catalogue */

.revues-container {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.revues-container.loading {
	opacity: 0;
}

.revue {
	margin-bottom: 40px;
}

.card {
	height: 100%;
}

/* Filtres du catalogue */

.filters-navbar {
	padding: 0;
	margin-bottom: 40px;
}

.filters-navbar .navbar-brand {
	display: block;
	width: 100%;
}

.filter-control {
	margin-top: .5rem;
}

@media (min-width: 768px) { 
	.filter-control {
		margin-top: 0;
		margin-left: .5rem;
	}

	.filter-control:first-child {
		margin-left: 0;
	}
}

.filter-reset {
	white-space: nowrap;
	color: #7553A8;
}

.filter-reset:hover, .filter-reset:focus {
	color: #563D7C;
}

/* Actualites */

.actus-grid {
	margin-top: 30px;
}

.actus-grid > div {
	margin-bottom: 30px;
}

.actu__img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

/* Styles article */

.titre {
	font-size: 2.6rem;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.soustitre {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.texte-container {
	font-size: 1.15rem;
}

.texte-container h1 {
	margin: 2rem 0 1rem;
	font-size: 2rem;
}

.texte-container h2 {
	margin: 1.6rem 0 1rem;
	font-size: 1.6rem;
}

.texte-container h3 {
	margin: 1.2rem 0 1rem;
	font-size: 1.2rem;
}

.epigraphe, .citation, .citationbis, .citationter {
	margin-left: 5rem;
}

p.texte img {
	max-width: 100%;
	margin: 40px auto;
	display: block;
}

.titreillustration {
	margin-top: 30px;
	font-weight: bold;
	text-align: center
}

.legendeillustration, .creditillustration {
	color: #666;
	font-size: 1rem;
}

.titreillustration + p.texte img {
	margin-top: 10px;
}

p.texte + .legendeillustration, p.texte + .creditillustration, .legendeillustration + .creditillustration {
	margin-top: -25px;
	margin-bottom: 30px;
}

.texte li p {
	margin-bottom: 5px;
}

.encadre {
    padding: 20px;
    margin: 30px 0;
}

p.encadre {
  background-color: #D2DCE6;
  margin-bottom: 0;
}

p.encadre + p.encadre {
	margin-top: 0;
}

img.texte-vignette {
	width: 100%;
	max-width: 100%;
	margin: 20px auto;
}

@media (min-width: 768px) { 
	img.texte-vignette {
		max-width: 300px;
		margin: 0 0 20px 20px;
		float: right
	}
}

@media (min-width: 992px) { 
	img.texte-vignette {
		max-width: 400px;
		margin-right: -100px;
	}
}

.date {
	font-size: 1rem;
	color: #333;
	margin-bottom: 10px;
}

.docannexes {
	margin: 30px 0;
	border-left: 5px solid #7553A8;
	padding: 5px 0 5px 20px;
}

.docannexes__items {
	padding: 0;
	margin: 0;
	list-style: none;
}

.docannexe {
	font-size: 1.1rem;
	margin: 10px 0 10px;
}

.docannexe__title {
	margin: 0;
}

.docannexe__description {
	color: #57636e;
}